@charset "utf-8";
/* CSS Document */

#mode_eins .wrapper{
	width: 250px;
	height: 188px;
	overflow: hidden;
	display:inline-block;
}

#mode_eins img{
	transition: all .6s ease;
}

#mode_eins img:hover{
	-webkit-transform: scale(1.2);
}