@charset "utf-8";
/* CSS Document */

#mode_sieben .wrapper {
	display: inline-block;
	position: relative;
	-webkit-perspective: 1000;
}
#mode_sieben .title {
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
	height: 149px;
	background: #000;
	color: #FFF;
	padding: 20px;
	display: block;
	-webkit-transform: rotateX(-180deg);
}

#mode_sieben .title,
#mode_sieben img{
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	transition:all .6s ease;
}

#mode_sieben .wrapper:hover img{
	-webkit-transform:rotateX(180deg);
}

#mode_sieben .wrapper:hover .title{
	-webkit-transform:rotateX(0);
}