@charset "utf-8";
/* CSS Document */

#mode_fuenf img{
	-webkit-filter: blur(0);
	transition: -webkit-filter 1.2s ease;
}

#mode_fuenf .wrapper:hover img:not(.regentropfen){
	-webkit-filter: blur(2px);
}

#mode_fuenf .wrapper{
	width: 250px;
	height: 188px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

#mode_fuenf .regentropfen{
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1.2s ease;
	opacity: 0;
}

#mode_fuenf .wrapper:hover .regentropfen{
	opacity: 1;
}